@charset " UTF-8";

/*
green : #59ac75
grey-dark : #343b3f
*/

/* GENERAL */
h3 {
    font-size: 1.3em;
}

/* CARD STYLE */
.item {
    position: relative;
    border-radius: 0.25rem;
    width: 270px;
    background-color: #999;
    margin: 40px 10px;
    transition: transform 0.3s;
    transform: translate3d(0, -1px, 0);
}

.item:hover {
    transform: translate3d(0, -10px, 0);
} 

.card_header {
    border-bottom: solid 1px #343b3f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: 1.1em Impact;
    color: #fff;
    text-shadow: 1px 1px 3px #343b3f;
    padding: 5%;
}

.card_body {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.card_text {
    text-align: justify;
    color: #fff;
    line-height: 1.5;
}

.btn_card {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: #343b3f;
    text-decoration: none;
    padding: .375rem .75rem;
    font: 1.1em 'Helvetica';
    line-height: 1.5;
	border-radius: .25rem;
	border:1px solid #ccc;
    box-shadow: 0px 3px 3px 0px #343b3f;
    margin-block-end: 10%;
}

.btn_card:hover {
    text-decoration: none;
    color:#59ac75;
    background-color: #343b3f;
    border:1px solid #59ac75;
}

/* CAROUSEL */
.carousel {
    position: relative;
    overflow: hidden;
}

.carousel_container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.carousel_container::after {
    content: '';
    clear: both;
    display: table;
}

.carousel_item {
    float: left;
}

.control_Carousel {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 1%
}

.carousel_Next,.carousel_Prev {
    position: relative;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #343b3f;
    transition: tranform 0.4s;
    cursor: pointer;
}

.carousel_Next:hover,.carousel_Prev:hover {
    transform: scale(1.2);
}