/*  Global */
@charset " UTF-8";

/*
green : #59ac75
grey-dark : #343b3f
font : 'Helvetica'
*/

/* GENERAL */ 
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit; /* couleur de son parent*/
}

section {
    margin-bottom: 5%;
}

/* HEADER */
.header {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
    left: 0;
    right: 0;
    height: 100px;
    line-height: 100px; /*permet de centrer la position des titres au millieu de la barre */
    color: #59ac75;
    background-color: #343b3f;
    border-bottom: solid 3px #59ac75;
}

.header_logo img{
    width: 165px;
    height: 90px;
    padding: 0 25px;
    float: right;
}

.header button {
    height: 40px;
    line-height: 35px;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 5px;
    background-color: #343b3f;
    color: #59ac75;
    border: solid 1px #59ac75;
    font-size: 1.1em;
    font-family: 'Helvetica';
}

.header button:hover {
    color: #ec8130;
    border: solid 1px #ec8130;

}

/* NAV */
.menu a {
    padding: 0 15px; 
    font-size: 1.2em;
    font-family: 'Helvetica';
}
.menu a:hover {
    color: #ec8130;
    text-decoration: none;
}

#top_section {
    padding-top: 110px;
}

/* RESPONSIVE */
@media only screen and (max-width: 950px){
    
    .header{
        position: static; /* retirer le padding de la div inférieure*/
        justify-content: space-between;
    }

    .header_button{
        position: relative;
        width: 45px;
        height: 45px;
        right: 10px;
        transition: transform 0.5s;
        cursor: pointer;
        border-radius: 50%;
        background-color: #343b3f;
        border: solid 1px #59ac75;
    }

    .header_button span{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 22px;
        height: 2px;
        background-color: #59ac75;
    }
    
    .header_button span::before, .header_button span::after {
        content: "";
        display: block;
        top: 0;
        left: 0;
        transform: translateY(-6px);
        position: absolute;
        width: 22px;
        height: 2px;
        background-color: #59ac75;
    }

    .header_button span::after {
        transform: translateY(+6px);  
    }

    .header_button.is-opened span { background: transparent; }
    .header_button.is-opened span::before { transform: translateY(0) rotate(45deg); background-color: #ec8130}
    .header_button.is-opened span::after { transform: translateY(0) rotate(-45deg); background-color: #ec8130}
    .header_button.is-opened { transform: rotate(90deg); border: solid 1px #ec8130;}

    .menu {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        bottom: 0;
        width: 250px;
        background-color: #30373a; /* gris légèrement plus sombre */
        transform: translateX(-250px);
        transition: transform 0.3s;
    }

    .menu a {
        display: block; /*permet de faire aller à la ligne chaque rubrique*/
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-bottom: 2px solid #343b3f;
        border-radius: 0;
    }

    .with_sideBar .menu {transform: translateX(0px);}

    #top_section {
        padding-top: 10px;
    }
        
}

/* A modifier */

.container-fluid {
    padding: 0px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.title {
    font-family: 'Helvetica';
    font-size: 2em;
    color: #343b3f;
}

/* Carousel accueil */
.carousel-item img {
    width: 100%;
    height: auto;
}

#actuCarousel  img{
    border-radius: 17px;
}

.carousel-caption {
    padding-top: 0px;
}

#actuCarousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* About style */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.1%;
    margin-right: 0.1%;
}

.about img {
    width: 320px;
    height: 250px;
}

.container p{
    text-align: justify;
}

#presentation {
    border-left: 1px solid #343b3f;
}

#information {
    border-right: 1px solid #343b3f;
}

/* Main */

.itemDiag {
    display: flex;
    justify-content: space-between;
}

.mycard {
    border-radius: 7%;
}

.Carousel_2 {
    text-align: center;
    color:  #343b3f;
    padding-top: 5%;
    font-family: Impact;
    font-size: 2em;
}

#myCarousel {
    padding-bottom: 7%;
}

.card-header {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px 2px black;
    color: #ffffff;
    background-color: transparent;
}

.nav_carousel {
    display: flex;
    justify-content: center;
}

.nav_carousel a  span{
    border:solid 2px #FFF;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background-color: #59ac75;
}

#left_bt {
    padding-right: 10px;
}

#right_bt {
    padding-left: 10px;
}

/* client */

#carouselComment {
    flex: 1;
    float: right;

}

.image {
    width: 15%;
    height: 15%;
}

.btn-logo img{
    width: 15%;
    height: 15%;
    margin-left: 15%;
}

.btn-logo {
    display: flex;
    align-items: center;
    border: solid 1px #343b3f;
    color: #ffffff;
    border-radius: 30px;
    width: 70%;
    max-width: 200px;
}

.btn-logo:hover {
    color: #343b3f;
    text-decoration: none;
}

#pj_logo {
    background-color: #fef00e; 
    display: flex; 
    justify-content: center;
}

#gb_logo {
    background-color: #447fe4;
    display: flex; 
    justify-content: center;
}

/* Footer style */
.footer-top {
    background-color: #343b3f;
    box-shadow: 1px 0px 6px 6px black;
    color: #7e7e7e;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.footer-top h2{
    font-size: 18px;
    padding-bottom: 10px;
    font-family: 'Helvetica', sans-serif;
    color: white;
    padding-top: 10px;
}

.footer-top h2:before{
    content: '|';
    color: #000000;
    padding-right: 10px;
}

.footer-top .row {
    display: flex;
    justify-content: space-around;
}

.segment-four ul {
    color: #7e7e7e;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.segment-four ul li a{
    color: #7e7e7e;
}

.segment-four ul li i{
    padding-right: 10px;
    padding-top: 5px;
}

.iconFacebook {
    font-size:30px; 
    color: white;
    margin-right: 10px;
}

.iconFacebook:hover{ 
    color: #3b5998;
}

.iconLinkedin {
    font-size:31px; 
    color: white;
    margin-left: 10px
}

.iconLinkedin:hover{ 
    color: #007ebb;
}


/* intro */

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro img {
    border-bottom: 3px #000000 inset;
}

.intro h1 {
    font-family: 'Helvetica';
    font-size: 2em;
    color: #343b3f;
    text-decoration: underline;
}

/* ################ Presentation ################ */

.nous {
    box-shadow: 0px 0px 3px 3px #7e7e7e;
    padding: 20px;
}

h2 {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5em;
    color: #343b3f;
}


/* ################ Contact & Devis ################ */

.map { 
    width: 50%; 
    height: 450px;
}

.formulaire div {
    width: 100%;
}

#message {
    width: 100%;
    height: 200px;
}

.liste {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.liste li i{
    padding-right: 10px;
    padding-top: 5px;
}

.element {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: space-between;
}